.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .subscribe-wrapper_1 {
    background-color: #212121;
    color: #ffffff;

    .login-wrapper {
      .box {
        background-color: #2b2b2b;

        .mat-card-title {
          color: #ffffff;
        }

        .mat-card-content {
          .example-full-width {
            .mat-form-field {
              .mat-input-element {
                color: #ffffff;

                &::placeholder {
                  color: #8c8c8c;
                }
              }

              .mat-form-field-underline {
                background-color: #ffffff;
              }

              .mat-form-field-ripple {
                background-color: transparent;
              }
            }
          }
        }

        .form-footer {
          .btn {
            background-color: #ff6600;
            color: #ffffff;

            &:hover {
              background-color: #cc5500;
            }
          }
        }
      }
    }
  }

  .form-footer {
    .btn {
      background-color: #ff6600;
      color: #ffffff;

      &:hover {
        background-color: #cc5500;
      }
    }
  }

  .or-divider {
    color: #bfbfbf;
  }
  .btn-google {
    background-color: #4285f4;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
  
    &:hover {
      background-color: #3367d6;
    }
  
    .google-icon {
      svg {
        fill: #ffffff; /* Updated icon color */
        width: 20px; /* Adjust the size of the icon */
        height: 20px; /* Adjust the size of the icon */
      }
    }
  
    .google-text {
      margin-left: 10px;
    }
  }
}
