<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="subscribe-wrapper_1 text-center">
          <h3 class="title mb--10">REGISTER NOW </h3>
          <p class="subtitle">Weekly FREE UI resource straight to your inbox</p>
          <div class="subscribe-input-wrapper">
            <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                <mat-card class="box">
                  <mat-card-header>
                    <mat-card-title>Register</mat-card-title>
                  </mat-card-header>
                  <form class="example-form">
                    <mat-card-content fxLayout="row wrap" fxLayoutGap="16px">
                      <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="Username">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="Email">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="Password">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="Confirm Password">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="Country">
                      </mat-form-field>
                    </mat-card-content>
                    <button mat-stroked-button color="accent" class="btn-block">Register</button>
                  </form>
                </mat-card>
              </div>
                  
          </div>
        </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>